{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "plugins": [
    "jest"
  ],
  "settings": {},
  "rules": {
    "no-undef": "warn",
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}],
    "guard-for-in": "off",
    "max-len": "off",
    "no-console": "off",
    "no-unused-vars": "warn",
    "radix": "off",
    "indent": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  }
}

